{% extends 'base.html' %}

{% block title %}Password Change Page{% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Change Password</h3>
            <hr>
            <form method="post" novalidate class="shadow p-5" action="">



                <div class="mb-3">
                    <label for="passwordFormControlInput1" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="ppasswordFormControlInput1">
                  </div>

                  <div class="mb-3">
                    <label for="passwordFormControlInput1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="ppasswordFormControlInput1">
                  </div>

                  <div class="mb-3">
                    <label for="passwordFormControlInput1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="ppasswordFormControlInput1">
                  </div>







                <div class="d-flex justify-content-center">
                    <input type="submit" value="Save" class="btn btn-primary my-3">
                </div>
        </div>
    </div>
</div>
{% endblock body %}