{% extends 'base.html' %}
{% load static %}

{% block title %}Login Page {% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Login Form</h3>
            <hr>
            <div class="card-header bg-primary"></div>
            <form method="post"  class="shadow p-5" novalidate action="">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3 ">{{error}}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="col-auto mb-3">
                    {{form.username.label_tag}}
                    <div class="input-group">
                        {{form.username}}
                    </div>
                    <small class="text-danger">{{form.errors.username|striptags}}</small>
                  </div>
                
                <div class="col-auto mb-3">
                    {{form.password.label_tag}}
                    <div class="input-group">
                        {{form.password}}
                      <div id="showPass"  class="input-group-text"><img src="{% static 'img/open-eye.svg' %}" id="openeye" alt=""><img src="{% static 'img/close-eye.svg' %}" id="closeeye" alt=""></div>
                    </div>
                    <small class="text-danger">{{form.errors.password|striptags}}</small>
                  </div>

                <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="LogIn" class="btn btn-primary my-4">
                </div>
                <div class="text-center fw-bold">
                    <small class="text-primary">New to MyREPORTS ?
                        <a href="{% url 'register' %}" class="text-danger">Create a Account</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}