{% extends 'base.html' %}

{% block title %}Password Reset Done{% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Password Reset Done</h3>
            <hr>
            <h2 class="alert-heading">All Good for Now!!</h2>
            <p>An Email has been sent with instructions to reset your password. <b>Check Your Email. Please check both of your Inbox as well as Spam</b></p>
        </div>
    </div>
</div>
{% endblock body %}