{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change Page{% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Hello {{request.user.username}}</h3>
            <hr>
            <h3 class="text-success">Congratulations!! Your Password has been successfully changed.</h3>
            <div class="text-start my-5">
                <a href="{% url 'home' %}" class="btn btn-warning ">Go to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}