{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password Confirm{% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Reset Password</h3>
            <hr>
            <form method="post" novalidate class="shadow p-5" action="">
                {% csrf_token %}
                {% for fm in form %}
                {% if fm.name == 'new_password1' %}
                <div class="col-auto mb-3">
                    <label class="" for="">{{fm.label_tag}}</label>
                    <div class="input-group">
                        {{fm}}
                      <div id="showPass"  class="input-group-text"><img src="{% static 'img/open-eye.svg' %}" id="openeye" alt=""><img src="{% static 'img/close-eye.svg' %}" id="closeeye" alt=""></div>
                    </div>
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                  </div>
                {% else %}
                    <div class="form-group mb-3">
                 {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endif %}
                {% endfor %}
                <div class="">
                    <input type="submit" value="Submit" class="btn btn-primary my-3">
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger ">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock body %}