{% extends 'base.html' %}

{% block title %}Register Page{% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-muted">Registration</h3>
            <hr>
            <div class="card-header bg-primary"></div>
            <form method="post" novalidate class="shadow p-5" action="">
                {% if messages %}
                    {% for message in messages %}
                        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group mb-3">
                        <label for="{{ fm.auto_id }}">{{ fm.label_tag }}
                                {% if fm.field.required %}
                            <span class="alert alert-danger">*</span>
                                    {% endif %}
                        </label>
                 {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
<!--                         {{fm.label_tag}} -->
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-primary my-3">
                </div>
                <div class="text-center fw-bold">
                    <small class="text-primary">Already a User ?
                        <a href="{% url 'login' %}" class="text-danger">LogIn Now</a>
                    </small>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger ">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock body %}
